@layer components {
  /* ==========================================================================
     Section: Homepage featured articles (main article + latest news sidebar)
     ========================================================================== */

  .c-section--hp-featured-articles {
    @apply bg-linear-to-b from-primary-50 to-white py-4 md:py-6 lg:py-8 relative overflow-hidden;

    &::before {
      content: '';
      @apply absolute inset-0 pointer-events-none z-0;
      background-image: var(--bg-image);
      background-size: cover;
      background-position: top center;
      filter: grayscale(.75) opacity(0.1) brightness(1.5) contrast(2);
    }

    .c-section__grid {
      @apply lg:grid-cols-[2fr_1fr] gap-4 relative z-10;
    }

    .c-section__featured {
      @apply h-full;
    }

    .c-card--article-main {
      @apply md:h-full;
    }

    .c-section__sidebar {
      @apply flex flex-col gap-4;
    }

    .c-section__sidebar-list {
      @apply flex flex-col gap-4 grow sm:grid sm:grid-cols-2 lg:flex lg:flex-col;
      .c-card {
        @apply flex-1;
      }
    }
  }
}
