{% from "macros/card/tile.njk" import card_tile %}

{#
    linkTiles(items)
    - items: array of { title, url, image }
#}
{% macro linkTiles(items=[]) %}
<section class="c-section c-section--link-tiles">
    <div class="c-container">
        <div class="c-section__grid">
            {% for item in items %}
                {{ card_tile(title=item.title, url=item.url, image=item.image) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endmacro %}
